video {
    pointer-events: none;
}

body {
    margin: 0;
    font-family: Arial;
    font-size: 17px;
}


/* Style the video: 100% width and height to cover the entire window */

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.options-group {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: stretch;
}

.hide {
    display: none;
}

#top-painel {
    bottom: auto;
    top: 0;
    z-index: 1;
}

.grid-item {
    margin-left: 30%;
}

.myBtn {
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
    text-align: center;
}

.myBtn:hover {
    background: rgb(96, 96, 255);
    color: black;
}

.myBtn:active {
    background: rgb(255, 255, 255);
    color: rgba(92, 45, 201, 0.788);
}


/* Style the button used in options */

.large-button {
    width: 200px;
}

.roundbutton {
    border-radius: 50%;
}

#pause-button {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    margin: -5px;
    width: 10px;
    height: 10px;
}

.ldBar-label {
    color: rgba(255, 0, 0, 0);
    font-family: tahoma;
    font-size: 2.1em;
    font-weight: 900
}